# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI DockerHub Push

on:
  push:
    branches: [main, develop, feature_docker_images]
    tags: "*"

jobs:
  push_aggregator_image:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out code

      - uses: mr-smithers-excellent/docker-build-push@v5
        name: Build & push Docker image
        with:
          image: pavelpogo/orange_cake
          tags: ${{  github.ref_name }}, latest
          registry: docker.io
          dockerfile: aggregator.Dockerfile
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  push_web_image:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out code

      - uses: mr-smithers-excellent/docker-build-push@v5
        name: Build & push Docker image
        with:
          image: pavelpogo/web
          tags: ${{  github.ref_name }}, latest
          registry: docker.io
          dockerfile: web.Dockerfile
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy_to_serv:
    needs: [push_aggregator_image, push_web_image]
    name: Pull and deploy Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@master
        name: executing remote ssh commands using ssh key
        with:
          host: ${{ secrets.SSH_REMOTE_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_REMOTE_HOST_PORT }}
          script: |
            docker rm aggregator-orange-cake
            docker image rm pavelpogo/orange_cake
            docker pull pavelpogo/orange_cake:latest
            docker run --name aggregator-orange-cake -v /home/orangecake/aggregator_data/db:/myApp/db -v /home/orangecake/aggregator_data/handlers.config.yaml:/myApp/handlers.config.yaml pavelpogo/orange_cake
            docker rm aggregator-web
            docker image rm pavelpogo/web
            docker pull pavelpogo/web:latest
            docker run --name aggregator-web -v /home/orangecake/aggregator_data/db:/myApp/db -p 8080:8080 pavelpogo/web
